@page
@model AspPix.Pages.ViewImgModel
@{
}


<div>
    <style>
        img {
            height:95%;
        }
    </style>
    <img src="@Model.BigUri"/>
    <div>
        <span>@Model.Mesagge</span>
    </div>
    <div>
        @foreach (var item in Model.Src)
        {
            <span>     </span><a href="@item.uri" target="_blank">@item.tag</a><span>      </span>
        }
    </div>
</div>